{% extends 'assets/base.html' %}

{% block content %}

<h2>Asset Assignments</h2>

<a href="/assignments/add/" class="btn btn-primary mb-3">
    Assign Asset
</a>

<table class="table table-bordered">

    <tr>
        <th>Employee</th>
        <th>Computer</th>
        <th>Vehicle</th>
        <th>Projector</th>
        <th>Actions</th>
    </tr>

    {% for a in assignments %}

    <tr>
        <td>{{ a.employee }}</td>

        <td>
            {% if a.computer %}
                {{ a.computer }}
            {% else %}
                -
            {% endif %}
        </td>

        <td>
            {% if a.vehicle %}
                {{ a.vehicle }}
            {% else %}
                -
            {% endif %}
        </td>

        <td>
            {% if a.projector %}
                {{ a.projector }}
            {% else %}
                -
            {% endif %}
        </td>

        <td>
            <a href="/assignments/return/{{ a.id }}/"
               class="btn btn-success btn-sm">
               Return Asset
            </a>
        </td>
    </tr>

    {% endfor %}

</table>

{% endblock %}