{% extends 'assets/base.html' %}

{% block content %}

<h2>Dashboard</h2>

<div class="row mt-4">

    <div class="col-md-3">
        <div class="card p-3">
            <h3>{{ computers }}</h3>
            <p>Computers</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h3>{{ vehicles }}</h3>
            <p>Vehicles</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h3>{{ projectors }}</h3>
            <p>Projectors</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h3>{{ employees }}</h3>
            <p>Employees</p>
        </div>
    </div>

</div>

{% endblock %}